.container {
  border-radius: 5px;
  position: relative;
  height: 228px;
  gap: 15px;
  box-shadow: #959da533 0px 8px 24px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.container img {
  height: 40%;
  width: 40%;
}

.container p {
  margin-top: 5px;
  margin-left: 40px;
  color: #6e8098;
  font-size: 14px;
}

.container p:first-child {
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 0;
}

.container p:nth-child(2) {
  margin-top: 50px;
}

.container p:nth-child(3) {
  font-size: 18px;
  font-weight: bold;
  color: #19202d;
  cursor: pointer;
}

.container p:nth-child(3):hover {
  color: #6e8098;
}

.container p:last-child {
  margin-top: 40px;
  color: #5964e0;
  font-weight: bold;
}
