.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 128px;
  margin-top: -30px;
  background-color: #ffffff;
  height: 60px;
  border-radius: 5px;
}

.container > div {
  height: 100%;

  display: flex;
  flex: 1 1;
  align-items: center;
}

.container > div:first-child {
  flex-basis: 40%;
  border-right: 2px solid #f4f6f8;
}

.container > div:nth-child(2) {
  flex-basis: 27%;
  border-right: 2px solid #f4f6f8;
}

.container > div:last-child {
  flex-basis: 33%;
}

.container > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin-left: 30px;
}

.container img {
  margin-right: 10px;
}

.search {
  width: 300px;
}

.container input[type='text'] {
  border: none;
}

.container input[type='checkbox'] {
  margin-right: 10px;
}

.container button {
  margin-left: 30px;
  background-color: #5964e0;
  border: none;
  border-radius: 5px;
  padding: 7px 30px;
  color: #ffffff;
}
